@charset "UTF-8";

/* 画面全体のレイアウト */
.main-element {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

/** テーブル関連 */
.result-table {
	margin-top:20px;	
}

/** フォーム関連 */
.text-input {
	width:100%;
}